<div class="col-md-2 sidebar">
  <div class="list-group">
    <%= link_to 'System', '#', class: 'list-group-item disabled' %>
    <%= link_to 'Batches', batches_path, class: 'list-group-item' %>
    <%= link_to 'Rows', objects_path, class: 'list-group-item', 'data-turbolinks': 'false' %>
  </div>
  <div class="list-group">
    <%= link_to 'Records', '#', class: 'list-group-item disabled' %>
    <%= link_to 'Authorities', authorities_path, class: 'list-group-item' %>
    <%= link_to 'Procedures', procedures_path, class: 'list-group-item' %>
    <%= link_to 'Relationships', relationships_path, class: 'list-group-item' %>
    <%= link_to 'Vocabularies', vocabularies_path, class: 'list-group-item' %>
  </div>
</div>
