<div class="row backend">

  <%= render partial: 'shared/sidebar' %>

  <div class="col-md-10">
    <%= render partial: 'shared/title', :locals => { :title => 'Connection' } %>

    <table class="table">
      <thead>
        <tr>
          <th>Remote <small>(services layer url)</small></th>
          <th>User <small>(for authentication)</small></th>
          <th>Domain <small>(urn used for refnames)</small></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to collectionspace_base_uri, "#{collectionspace_base_uri}/systeminfo", target: :_blank %></td>
          <td><%= collectionspace_username %></td>
          <td><%= collectionspace_domain %></td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-md-12">
        <h3>Module</h3>
        <p><%= Lookup.module.to_s %></p>
        <pre class="prettyprint lang-yml"><%= Lookup.module.config.to_yaml %></pre>
      <div>
    </div>
  </div>
</div>