<div class="row backend">

  <%= render partial: 'shared/sidebar' %>

  <div class="col-md-10">
    <%= render partial: 'shared/title', :locals => { :title => 'Connection' } %>

    <table class="table">
      <thead>
        <tr>
          <th>Remote</th>
          <th>User</th>
          <th>Domain</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= collectionspace_base_uri %></td>
          <td><%= collectionspace_username %></td>
          <td><%= collectionspace_domain %></td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-md-4">
        <p><small>CollectionSpace services layer url.</small></p>
      </div>
      <div class="col-md-4">
        <p><small>CollectionSpace user for authentication.</small></p>
      </div>
      <div class="col-md-4">
        <p><small>Domain used for URN strings in the generated XML.</small></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Profile</h3>
        <p><%= Lookup.converter_class.to_s %>:</p>
        <pre class="prettyprint lang-yml"><%= Lookup.converter_class.config.to_yaml %></pre>
      <div>
    </div>
  </div>
</div>